{% extends "layout.html" %}

{% block intro %}
{% if conf_name %}
<div class="alert success">
    {{ conf_name }} has been registered!
</div>
{% endif %}

{% endblock %}

{% block title %}
{% if conf_name %}
<h2>Register a Call for Papers for {{ conf_name }}</h2>
{% else %}
<h2>Register a Call for Papers</h2>
{% endif %}
{% endblock %}

{% block content %}

<div class="loader" hidden>
    <div class="lds-heart"><div></div></div>
    <div class="lds-text">Processing...</div>
</div>
<form action="{% url 'register-cfp' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="columns eight">
            {{ form }}
            <input class="button-primary u-pull-right" type="submit" value="Register!">
        </div>
    </div>
</form>

{% endblock %}