{% extends "layout.html" %}

{% block feed %}
<link href="events/feed" type="application/atom+xml" rel="alternate" title="Aus GLAMR Events" />
{% endblock %}

{% block content %}
<div class="buttons">
  <a href="{% url 'register-cfp' %}"><button class="button">Add a CFP</button></a>
</div>
  <div class="listing l-three header">
    <span>Details</span>
    <span>Event</span>
    <span>Closes</span>
  </div>
  <hr/>

  {% for cfp in cfps %}
    <div class="listing l-three" id="cfp_{{cfp.id}}">
        <div>
            <p><strong>{{cfp.name}}</strong></p>
            <p>{{cfp.details}}</p>
        </div>
        <span><a href="{{cfp.event.url}}">{{cfp.event.name}}</a></span>
        <span class="closing-date">{{cfp.closing_date}}</span>
    </div>
    <hr/>
    {% empty %}
    <p>Oh no! There are no Calls for Papers currently open. Try checking out <a href="{% url 'newsletters' %}">some newsletters</a>.</p>
    {% endfor %}


{% endblock %}