{% extends "layout.html" %}

{% block content %}

<div class="buttons">
  <a href="{% url 'cfps' %}"><button class="button button-primary button-first">Open CFPs</button></a>
  <a href="{% url 'register-event' %}"><button class="button">Add an Event</button></a>
  <a href="{% url 'register-cfp' %}"><button class="button">Add a CFP</button></a>
</div>
<div class="listing l-three header">
  <span>Description</span>
  <span>Category</span>
  <span>Start Date</span>
</div>
<hr/>
{% for con in cons %}
<div class="listing l-three">
  <div>
    <p><a href="{{con.url}}">{{con.name}}</a></p>
    <div>
      <p>{{con.description}}</p>
      {% if con.call_for_papers  %}
      <p><em><a href="/cfps/#cfp_{{con.call_for_papers.id}}">{{con.call_for_papers.name}} closes {{ con.call_for_papers.closing_date|date:"D d M" }}</a></em></p>
      {% endif %}
    </div>
  </div>
  <span><span class="badge badge_{{con.category}}"><a href="/events/{{con.category}}">{{con.category_name}}</a></span></span>
  <span class="start-date">{{con.start_date}}</span>
</div>
<hr/>
{% empty %}
<p>Oh no! There are no events currently registered. Try checking out <a href="{% url 'blogs' %}">some blogs</a>.</p>
{% endfor %}

{% endblock %}