{% extends "layout.html" %}

{% block content %}
  <div class="buttons">
    <a href="{% url 'newsletter-editions' %}"><button class="button button-primary button-first">Latest editions</button></a>
    <a href="{% url 'register-newsletter' %}"><button class="button">Add a Newsletter</button></a>
  </div>
  <div class="listing l-three header">
    <span>Title</span>
    <span>Author</span>
    <span>Category</span>
  </div>
  <hr/>
  {% for pub in news %}
    <div class="listing l-three">
      <span>
        <a href="{{pub.url}}">{{pub.name}}</a>
        {% if pub.feed %}
        <a href="{{pub.feed}}">{% include 'utils/rss-img.html' %}</a>
        {% endif %}
      </span>
      <span>{{pub.author}}</span>
      <span><span class="badge badge_{{pub.category}}"><a href="/newsletters/{{pub.category}}">{{pub.category_name}}</a></span></span>
    </div>
    <hr/>
  {% empty %}
  <p>Oh no! There are no newsletter currently registered. Try checking out <a href="{% url 'blogs' %}">some blogs</a>.</p>
  {% endfor %}
{% endblock %}