{% extends "layout.html" %}

{% block content %}
  <div>
    <a href="{% url 'register-newsletter' %}"><button class="button button-first">Add a Newsletter</button></a>
  </div>
  <div class="listing l-three header">
    <span>Title</span>
    <span>Author</span>
    <span>Category</span>
  </div>
  <hr/>
  {% for pub in news %}
    <div class="listing l-three">
      <span><a href="{{pub.url}}">{{pub.name}}</a></span>
      <span>{{pub.author}}</span>
      <span><span class="badge badge_{{pub.category}}"><a href="/newsletters/{{pub.category}}">{{pub.category_name}}</a></span></span>
    </div>
    <hr/>
  {% empty %}
  <p>Oh no! There are no newsletter currently registered. Try checking out <a href="{% url 'blogs' %}">some blogs</a>.</p>
  {% endfor %}
{% endblock %}