{% extends "layout.html" %}

{% block container %}
<main class="container pop-boxes">
    {% block intro %}{% endblock %}
    {% block title %}
    <h2 class="page-title">{{ title }}</h2>
    {% endblock %}
    <section>
        {% block content %}
        <section class="subscribe">
            <section class="pop">
                <hgroup>
                    <h3>Subscribe via email</h3>
                </hgroup>
                <p>Get a weekly update listing the latest blog posts, open calls for papers, and upcoming events.</p>
                <div>
                    <a class="button button-primary" href="{% url 'subscribe-email' %}">Subscribe</a>
                </div>
            </section>

            <section class="pop">
                <hgroup>
                    <h3>Subscribe via ActivityPub</h3>
                </hgroup>
                <p>Follow <code class="code">@ausglamr@ausglam.space</code> to see an announcement every time something is added.</p>
                <form method="post" action="{% url 'subscribe' %}">
                    {% csrf_token %}
                    <label for="username">Enter address you want to follow from</label>
                    {{ form.errors.username }}
                    <input type="text" name="username" placeholder="@user@example.social">
                    <button class="button button-primary u-pull-right" type="submit">Follow</button>
                </form>
            </section>

            <section class="pop">
                <hgroup>
                    <h3>Subscribe via RSS</h3>
                </hgroup>
                <p>Ok technically it's Atom. Subscribe to the feed to stay up to date using your favourite feed reader.</p>
                <div>
                    <a class="button" href="{% url 'article-feed' %}">blog posts</a><br/>
                    <a class="button" href="{% url 'event-feed' %}">events & cfps</a><br/>
                    <a class="button" href="{% url 'edition-feed' %}">newsletter editions</a><br/>
                    <a class="button button-primary" href="{% url 'feed' %}">everything</a>
                </div>
            </section>

        </section>
        {% endblock %}
    </section>
{% endblock %}